// Wifi Credentials
#define SSID "---"
#define SSID_PASSWD "---"

#define MQTT_BROKER_IP "---"
#define MQTT_CLIENT_NAME "--"
#define MQTT_UNAME "---"
#define MQTT_PASSWD "---"
#define MQTT_MSG_TOPIC "---"
#define MQTT_LWT_TOPIC "---"
#define MQTT_ZAP_TOPIC "---"
