wifi_ssid: "..."
wifi_passwd: "..."
mqtt_broker: "xxx.xxx.xxx.xxx"

# The SSID and Password for the fall back access point if wifi connection fails.
ap_ssid: "..."
ap_passwd: "..."

# The Password that is required to perform over the air updates.
ota_passwd: "..."


