wifi_ssid: "<WIFI_SSID>"
wifi_password: "<WIFI_PASSWORD>"
mqtt_broker: "MQTT_BROKER_IP_ADDR"

# The SSID and Password for the fall back access point if wifi connection fails.
ap_ssid: "<WIFI_SSID>"
ap_passwd: "<WIFI_PASSWORD>"

# The Password that is required to perform over the air updates.
ota_passwd: "<OTA_PASSWORD>"
